<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trackplayerswift">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:launchMode="singleInstance"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
     <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
        </intent-filter>
      </activity>
      <meta-data
          android:name="io.fabric.ApiKey"
          android:value="6f35585ee12405b64c267333006d785923613941"
      />
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
          <activity android:name="com.reactnative.googlecast.GoogleCastExpandedControlsActivity" />
      <meta-data
  android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
  android:value="com.reactnative.googlecast.GoogleCastOptionsProvider" />
    </application>
</manifest>
